.cal {
	display: flex;
	flex-direction: column;
	margin: 50px auto;
	padding: 0 0 0 0;
	width: 421px;
	border: 1px solid rgb(0, 0, 0);
	border-radius: 2px;
	align-items: center;
	font-family: Roboto, sans-serif;
	font-size: 20px;
	text-align: center;
}

.calHead {
	display: flex;
	flex-wrap: wrap;
	background-color:  rgba(31, 34, 30, 0.6);
	font-weight: bold;
}

.calBody {
	display: flex;
	flex-wrap: wrap;
	background-color: rgba(255, 255, 255, 0.6);
}

.month {
	height: 60px;
	width: 150px;
	line-height: 60px;
}

.year {
	height: 60px;
	width: 150px;
	line-height: 60px;
}

.cell {
	cursor: pointer;
	width: 60px;
	height: 60px;
	line-height: 60px;
}

.cell:hover {
	background: rgba(0, 0, 0, 0.199);
}

.none {
	color: rgba(0, 0, 0, 0.267);
	background-color: rgba(0, 0, 0, 0.062);
	cursor: default;
}

.curr {
	background: rgba(227, 52, 13, 0.527);
}

.checked {
	outline: 2px solid rgb(39, 101, 193);
	outline-offset: -4px;
}

.noted {
	background: rgb(13, 217, 170);
}